:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: #ccc;
  --color-quaternary: #f0f0f0;
  --color-quinary: #333;
  --color-info: #0000ff;
  --color-danger: #ff0000;
  --color-warning: #ffa500;
  --color-success: #008000;
  --color-neutral: #808080;
}